<h1><%- title %></h1>
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<form class="input-box" id="loginForm" action="/account/login" method="post">
  <label>Email
    <input type="email" name="account_email" required autocomplete="email" value="<%= account_email || '' %>">
  </label>
  
  <label>Password
    <input type="password" name="account_password" id="password" required autocomplete="current-password">
    <span class="reveal-button active" id="passwordHide">hide password</span>
  </label>
  
  <input type="submit" value="LOGIN">
</form>

<div>
  <span>No account? <a href="/account/register">Sign up</a></span>
</div>

<script>
  const passwordInput = document.querySelector("#password");
  const passwordHide = document.querySelector("#passwordHide");
  passwordHide.addEventListener("click", () => {
    const isPassword = passwordInput.getAttribute("type") === "password";
    passwordInput.setAttribute("type", isPassword ? "text" : "password");
    passwordHide.classList.toggle("active", !isPassword);
  });
</script>
