<header id="top-header">
  <nav class="navbar">
    <!-- Brand / Logo -->
    <div class="navbar-brand">
      <a href="/" title="Return to home page">CSE Motors</a>
    </div>

    <!-- Hamburger Icon -->
    <button class="hamburger" id="hamburger" title="Toggle menu">&#9776;</button>

    <!-- Navigation Links -->
    <ul class="navbar-menu" id="navbarMenu">
      <% if (locals.loggedin == 1) { %>
        <li><a href="/account" title="Account page">Welcome <%- locals.accountData.account_firstname %></a></li>
        <li><a href="/account/logout" title="Log out">Logout</a></li>
      <% } else { %>
        <li><a href="/account/login" title="Click to log in">My Account</a></li>
      <% } %>
    </ul>
  </nav>
</header>
